<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shiqi.oos.mapper.SqShoppingcardetailMapper" >
  <resultMap id="BaseResultMap" type="com.shiqi.oos.entity.SqShoppingcardetail" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="shoppingCarId" property="shoppingcarid" jdbcType="VARCHAR" />
    <result column="shopId" property="shopid" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="shopNum" property="shopnum" jdbcType="INTEGER" />
    <result column="xiaoji" property="xiaoji" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, shoppingCarId, shopId, createTime, updateTime, shopNum, xiaoji, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shiqi.oos.entity.SqShoppingcardetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sq_shoppingCarDetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sq_shoppingCarDetail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sq_shoppingCarDetail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.shiqi.oos.entity.SqShoppingcardetailExample" >
    delete from sq_shoppingCarDetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shiqi.oos.entity.SqShoppingcardetail" >
    insert into sq_shoppingCarDetail (id, shoppingCarId, shopId, 
      createTime, updateTime, shopNum, 
      xiaoji, status)
    values (#{id,jdbcType=VARCHAR}, #{shoppingcarid,jdbcType=VARCHAR}, #{shopid,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{shopnum,jdbcType=INTEGER}, 
      #{xiaoji,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shiqi.oos.entity.SqShoppingcardetail" >
    insert into sq_shoppingCarDetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shoppingcarid != null" >
        shoppingCarId,
      </if>
      <if test="shopid != null" >
        shopId,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="shopnum != null" >
        shopNum,
      </if>
      <if test="xiaoji != null" >
        xiaoji,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="shoppingcarid != null" >
        #{shoppingcarid,jdbcType=VARCHAR},
      </if>
      <if test="shopid != null" >
        #{shopid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopnum != null" >
        #{shopnum,jdbcType=INTEGER},
      </if>
      <if test="xiaoji != null" >
        #{xiaoji,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shiqi.oos.entity.SqShoppingcardetailExample" resultType="java.lang.Integer" >
    select count(*) from sq_shoppingCarDetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sq_shoppingCarDetail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.shoppingcarid != null" >
        shoppingCarId = #{record.shoppingcarid,jdbcType=VARCHAR},
      </if>
      <if test="record.shopid != null" >
        shopId = #{record.shopid,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shopnum != null" >
        shopNum = #{record.shopnum,jdbcType=INTEGER},
      </if>
      <if test="record.xiaoji != null" >
        xiaoji = #{record.xiaoji,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sq_shoppingCarDetail
    set id = #{record.id,jdbcType=VARCHAR},
      shoppingCarId = #{record.shoppingcarid,jdbcType=VARCHAR},
      shopId = #{record.shopid,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      shopNum = #{record.shopnum,jdbcType=INTEGER},
      xiaoji = #{record.xiaoji,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shiqi.oos.entity.SqShoppingcardetail" >
    update sq_shoppingCarDetail
    <set >
      <if test="shoppingcarid != null" >
        shoppingCarId = #{shoppingcarid,jdbcType=VARCHAR},
      </if>
      <if test="shopid != null" >
        shopId = #{shopid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopnum != null" >
        shopNum = #{shopnum,jdbcType=INTEGER},
      </if>
      <if test="xiaoji != null" >
        xiaoji = #{xiaoji,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shiqi.oos.entity.SqShoppingcardetail" >
    update sq_shoppingCarDetail
    set shoppingCarId = #{shoppingcarid,jdbcType=VARCHAR},
      shopId = #{shopid,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      shopNum = #{shopnum,jdbcType=INTEGER},
      xiaoji = #{xiaoji,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>